/* universal styles */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

h1 {
  font-size: 3.6rem;
  text-align: center;
  margin-top: 2rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.6rem;
}

p,
li {
  font-size: 1.4rem;
  list-style-type: none;
}

a {
  font-size: 1.8rem;
}

/* navbar */

nav {
  width: 100%;
  padding: 3rem;
  background-color: beige;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  list-style: none;
}

nav a {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: black;
  text-decoration: none;
  transition: all 0.3s;
}

nav a:hover {
  background-color: #dedede;
}

/* home screen */

.container {
  width: 75%;
  max-width: 80rem;
  margin: 5rem auto;
  padding: 2rem;
  text-align: center;
}

.heading {
  margin: 1rem 0;
}

.poll-list {
  text-align: left;
}

.welcome {
  text-align: center;
}

/* PollCard */

.question {
  margin: 1rem 0;
  text-decoration: underline;
}

.question:hover {
  color: rgb(255, 129, 71);
}

.active {
  color: tomato;
}

.vote-graph {
  margin-right: 1rem;
}

.poll-user-btn {
  background: none;
  border: none;
  font-size: 1.4rem;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
  outline: none;
}

.vote-button {
  width: 8rem;
  padding: 0.5rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 1.5rem;
  margin: 1rem 0;
}

.option-label {
  font-size: 1.8rem;
  margin-left: 1rem;
}

.user-vote {
  font-weight: bold;
}

/* NewPoll and inputs */

.form-control {
  margin: 1rem 0;
}

.option-input {
  font-size: 1.8rem;
}

.option-input:hover .icon svg {
  height: auto;
  padding: 0 1rem;
}

.icon svg {
  height: 0;
  padding: 0 0.5rem;
  width: 3.5rem;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.form-control input {
  width: 100%;
  font-size: 1.8rem;
  padding: 1rem;
}

.buttons {
  width: 100%;
}

.buttons button {
  width: 50%;
  padding: 1rem;
  font-size: 1.8rem;
  border: none;
}

.pointer {
  cursor: pointer;
}

/* login */

.login__btn {
  background: none;
  border: none;
  font-size: 1.6rem;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: 0.2s;
}

.login__btn:hover {
  background: #dedede;
}

.login--submit {
  border: 1px solid black;
}

@media (min-width: 700px) {
  .poll-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
