@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

h1 {
  font-size: 3.6rem;
  text-align: center;
  margin-top: 2rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.6rem;
}

p {
  font-size: 1.4rem;
}

a {
  font-size: 1.8rem;
}

nav {
  width: 100%;
  padding: 3rem;
  background-color: beige;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 90%;
  max-width: 40rem;
  margin: 0 auto;
  list-style: none;
}

.nav-link {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.nav-link:hover {
  background-color: #dedede;
}

.nav-link a {
  text-decoration: none;
  color: black;
}

.container {
  width: 75%;
  max-width: 80rem;
  margin: 5rem auto;
  padding: 2rem;
}

.heading {
  margin: 1rem 0;
}

.question {
  margin: 1rem 0;
  text-decoration: underline;
}

.vote-button {
  width: 8rem;
  padding: 0.5rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 1.5rem;
  margin: 1rem 0;
}

.option-label {
  font-size: 1.8rem;
  margin-left: 1rem;
}

.form-control {
  margin: 1rem 0;
}

.option-input {
  font-size: 1.8rem;
}

.form-control input {
  width: 100%;
  font-size: 1.8rem;
  padding: 1rem;
  outline: none;
}

.buttons {
  width: 100%;
}

.buttons button {
  width: 50%;
  padding: 1rem;
  font-size: 1.8rem;
  border: none;
}

.icon {
  margin-left: 0.5rem;
}

.pointer {
  cursor: pointer;
}
